ion-content{
  --ion-background-color:#eee599;
  font-family: 'Times New Roman', Times, serif;
}
.header{
  background-color: #d32013;
}

.button{
  margin-left: 15%;
}

ion-card{
  --ion-background-color: hsla(54, 95%, 86%, 0.897);
}
.content{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}
a{
  color: black;
}
.contact{
  text-align: center;
  margin-top: 65%
}
