ion-content{
  --ion-background-color:#eee599;
  font-family: 'Times New Roman', Times, serif;
}
.content{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content1{
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
}

.submit{
  margin-left: 30%;
  margin-top: 40px;
}
