<ion-header translucent="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center" size="large">Cloud Deployment Webinar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #submitform = "ngForm" (ngSubmit)="register(submitform)">
    <ion-card class="content">
      <ion-card-header class="ion-text-center">
        <ion-card-title>
          <strong>Registration Form</strong>
        </ion-card-title>
        <ion-card-subtitle>July 28, 2021 - 4:00PM to 5:00PM</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="content1">

        <ion-item>
          <ion-label color="dark" position="floating">Name</ion-label>
          <ion-input type="string" [(ngModel)]="data.fname" #fnameCtrl="ngModel" name="fname" required></ion-input>
        </ion-item>
        <div *ngIf="!fnameCtrl.valid && fnameCtrl.touched">
          <ion-text color="danger">Name is required</ion-text>
        </div>

        <ion-item>
          <ion-label color="dark" position="floating">Mobile Number</ion-label>
          <ion-input placeholder="Whatsapp No is preferred" [pattern]="mobNumberPattern" required type="Number" [(ngModel)]="data.pnum" #pnumCtrl="ngModel" name="pnum"></ion-input>
        </ion-item>
        <div *ngIf="pnumCtrl.errors && submitform.submitted && !pnumCtrl.valid" [ngClass] = "'error'">
          <div *ngIf="pnumCtrl.errors.pattern">
            <ion-text color="danger">Mobile Number is required</ion-text>
          </div>
        </div>

        <ion-item>
          <ion-label color="dark" position="floating">Email ID</ion-label>
          <ion-input type="email" name="email" required [(ngModel)]="data.email" #emailCtrl="ngModel" email></ion-input>
        </ion-item>
        <div *ngIf="!emailCtrl.valid && emailCtrl.touched">
          <ion-text color="danger">Email is not valid</ion-text>
        </div>

        <ion-item>
          <ion-label color="dark" position="floating">City</ion-label>
          <ion-input type="string"[(ngModel)]="data.city" #cityCtrl="ngModel" name="city" required></ion-input>
        </ion-item>
        <div *ngIf="!cityCtrl.valid && cityCtrl.touched">
          <ion-text color="danger">City name is required</ion-text>
        </div>

        <ion-item>
          <ion-label color="dark" position="floating">Profession</ion-label>
          <ion-select type="string"[(ngModel)]="data.job" #jobCtrl="ngModel" name="job" required>
            <ion-select-option value="Student">Student</ion-select-option>
            <ion-select-option value="Working">Working</ion-select-option>
            <ion-select-option value="Others">Others</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!jobCtrl.valid && jobCtrl.touched">
          <ion-text color="danger">Profession is required</ion-text>
        </div>

        <ion-button class="submit"color="danger" type="submit" [disabled]="!submitform.form.valid">
          Submit
       </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
  <div class="contact">
    <p color="dark">--- For any Queries ---<br>
    Contact<br>
    Event Organizer<br>
    Mobile Number : 9487019897<br>
    <a href="mailto:info@increatech.com">info@increatech.com</a></p>
  </div>
</ion-content>
